PORT=3000
CHROME_PATH="C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe"
HEADLESS=false
BROWSER_PROFILE_DIR=.browser-profile
AUTO_OPEN=true
ANALYZE_WAIT_MS=12000
MANUAL_AGE_CONFIRM=true
MANUAL_CONFIRM_TIMEOUT_MS=180000
ALLOWED_HOSTS=localhost,127.0.0.1,stasyq.com,www.stasyq.com,watch4beauty.com,www.watch4beauty.com
MAX_CANDIDATES=250
MAX_PAGES_PER_SCAN=1
COOKIE_AUDIT_STORE_VALUES=false
